/*
"Cobalt Blue" stylesheet for osC created by Rhea Anthony
08/08/2005

- these stylesheet settings apply to all media
- for printing styles edit templates/print.css
- modified 2004/03/18 PaulM PandA.nl
- To optimize the stylesheet for small filesize (=>maximum speed) you can remove most comments, and group the styles.
*/

/* the body tag for the html template */
body, html {
margin: 0;
padding: 0;
text-align: center; /* needed for IE center bug */
background: #cccccc;
}
/* pageWrapper div for centering and fixing width settings! 2005/08/08 */
div#pageWrapper {
position: relative;
margin: 10px auto; /* sets margin from top of browser page to start of web page */
width: 770; /* set total pagewidth or set at 100% */
background: #ffffff;
}

/* no need to edit this - standard setting */
form {
display: inline;
}

/* no need to edit this - standard setting */
td {
vertical-align: top;
}

/* no need to edit this - standard setting */
td.productListing-data {
vertical-align: middle;
}
table#mainLayoutLT {
margin: 0px auto;
width: 100%;
}
/* total width of the sub-table containing the info boxes */
td.columnLT {
width: 150px;
padding: 0;
}



/* class called infoboxContents in standard osCommerce */
td#contentLT {

}

/* just sets the margins for info boxes */
.infoBoxLT {
margin: 5px;
}

/* sets the padding for class called infoboxContents in standard osCommerce */
td#contentLT {
padding: 10px 12px;
}

/* padding for the infoBox headings */
td.infoBoxHeadingLT, .infoBoxHeading {
padding: 2px 4px;
font-family: Arial, sans-serif;
font-size: 10px;
font-weight: bold;
color: #ffffff;
}
td.boxTextLT {
padding: 6px 5px;
}

div#imageNavLT{
margin: 12px 7px 0 0;
float: right;
}
.navRightLT {
float: right;
}
.boxTextLT select {
width: 90%;
}
td#navBarTopLT div, td#navBarBottomLT div {
margin: 1px 5px;
height: 17px;
}
.logoLT {
  text-align: center;
}

.navLeftLT {
  float: left;
}

.footerLT {
text-align: center;
}
.footerLT div {
margin: 5px auto;
}
.infoBoxHeadingLT div {
float: left;
}
#languagesBoxLT, #specialsBoxLT, #currenciesBoxLT, #whats_newBoxLT, #manufacturersBoxLT, #searchBoxLT, #tell_a_friendBoxLT {
text-align: center;
}
/* begin colors and borders (for link colors: see the link styles section below) */
/* controls colours of module borders and borders around button areas*/
table.infoBox, table.productListing {
border: #8e1831 solid 1px;
}
.productListing-heading {
background: url('images/background.gif') repeat -x;
font-family: Arial, sans-serif;
font-size: 10px;
font-weight: bold;
color: #ffffff;
}

tr.productListing-even td {
background-color: #ffffff;
}
tr.productListing-odd td.productListing-data {
background-color: #ffffff;
}
.errorText {
color: red;
}
/* .cBoxE higlighting for categories box enhancement contrib */
.cBoxE {
color: red;
}

/* leave at zero or else it will conflict with
images used in infoBox headers and new products module */
td.infoBoxHeading {
border: 0px black solid;
}
/* controls colour of top and bottom navbar borders */
td#navBarTopLT, td#navBarBottomLT {
border: 1px #8e1831 solid;
border-width: 1px 0;
}
/* controls colour and style of webpage outer border */
table#mainLayoutLT {
border: 2px #8e1831 outset;
}

/* controls border colour of info boxes only - safe to change */
.infoBoxLT td {
border: 2px #8e1831 groove;
}
/* controls colour of page heading text */
#contentLT table td.pageHeading, h1 {
color: #8e1831;
}
/* this is a table border, so leave at zero */
.infoBoxLT td table td {
border-width: 0px;
}

/* controls colour of text used to greet user */
.inputRequirement, .greetUser {
color: #8e1831;
}
/* example how to assign styles to one individual small infobox (delete if you don't like) */
table#shopping_cartBoxLT {
font-weight: bold;
color: #e00;
}

/* displays a background image or colour plus style in headers for info boxes and product listings */

td.infoBoxHeadingLT, .infoBoxHeading, .productListing-heading {
background: url(images/background.png) repeat-x;
}
/* end colors and borders */
.infoBoxHeading img {
display: none;
}
/* begin fonts */
#copyRightLT {
font-size: 11px;
}
td.infoBoxHeading {
font-weight: bold;
}
.infoBoxLT td, .infoboxLT td.boxTextLT form select {
font-size: 11px;
font-family: arial, sans-serif;
}
#navBarTopLT, #navBarBottomLT {
font-size: 12px;
font-weight: bold;
color: #8e1831;
}
/* font size for content in and outside tables */
#contentLT table td, #contentLT {
font-size: 11px;
font-family: arial, sans-serif;
}

/* controls font and size used in page headings */
#contentLT table td.pageHeading, h1 {
font-size: 22px;
font-weight: normal;
font-family: arial, sans-serif;
text-indent: 15px;
padding-top: 5px;
}
/* end fonts */
/* begin link styles */
.infoBoxHeadingLT a {
float: right;
margin: 2px;
}
a {
text-decoration: none;
color: #8e1831;
}
a:hover {
text-decoration: underline;
color: red;
background-color: #ffffff;
}
/* end link styles */
