TD.pollBoxRow {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1px; 
}
TD.pollBoxText {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1px; 
}
TR.pollOptRow {
  background: #f1f9fe;
}
TR.pollFooter {
  background: #f1f9fe;
}